html,body,#app{height: 100%;background-color: white;}
*{box-sizing: content-box;}

//body{height: 90%;}
html, body, ul, p {margin: 0;padding: 0;}

input, textarea{outline: none;}

li{list-style: none;}

.el-menu{background-color: transparent;}
.el-tabs__header{margin: 0;}
